.jumbotron {
	padding: 100px 60px;
	background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('../images/malmo_uni.jpg') no-repeat center / cover ;
	color: #fff;
}

li {
    margin-left:12px;
}

td {
	height:50px;
}